<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
</head>

<body>
    <h1>Links</h1>
    <a href="/add">Add link</a>
    <% for (let i=0; i < links.length; i++) { %>
        <div id='<%=links[i]._id%>'>
            <form method="POST" action="/?_method=DELETE">
                <h2>
                    <%=links[i].title%>
                </h2>
                <div>
                    <%=links[i].description%>
                </div>
                <div>
                    <%=links[i].url%>
                </div>
                <input name="id" value="<%=links[i]._id%>" hidden>
                <button type="submit">Delete</button>
                <a href="/edit/<%=links[i]._id%>">Edit</a>
            </form>
        </div>
        <%}%>

</body>

</html>